<div class="content mt-7 leading-relaxed">
  <slot />
</div>

<style>
  @reference "@/site/root.css";

  .content :global(blockquote) {
    @apply border-title ml-0 border-l-4 border-solid pl-4 italic;
  }

  .content :global(h2) {
    @apply text-title font-serif text-2xl;
  }

  .content :global(h3) {
    @apply text-title text-xl;
  }

  .content :global(h4) {
    @apply text-title;
  }

  .content :global(h2),
  .content :global(h3),
  .content :global(h4) {
    @apply mb-2;
  }

  .content :global(p),
  .content :global(ul),
  .content :global(ol),
  .content :global(.astro-code) {
    @apply mb-6;
  }

  .content :global(.astro-code .line span) {
    @apply !not-italic;
  }

  .content :global(ol),
  .content :global(ul) {
    @apply mr-5 ml-8;
  }

  .content :global(ul) {
    @apply list-disc;
  }

  .content :global(ol) {
    @apply list-decimal;
  }

  .content :global(*:not(pre) > code) {
    @apply bg-title text-body-background-light rounded-xs p-0.5;
  }

  .content :global(pre) {
    @apply border-primary/30 min-w-full rounded-sm border px-4 py-3;
  }
</style>
