---
export type Props = {
  href: string;
  title: string;
  id?: string;
};

const { id, title, href } = Astro.props;
---

<li>
  <strong>{title}:</strong>&nbsp;<a id={id} href={href}><slot /></a>
</li>
