---
import ResumeIcon from "@/profession/resume/Icon.astro";
---

<h2 class="mb-3 text-3xl font-semibold print:mb-1.5 print:text-xl">
  <slot /><ResumeIcon class="mb-1 ml-2 h-8 w-8 print:h-5 print:w-5" />
</h2>
