---
export type Props = {
  title: string;
  value: number;
};

const { title, value } = Astro.props;
const width = `${Math.min(100, Math.max(0, value * 100))}%`;
---

<li class="skill mb-2 flex items-center last:mb-0">
  <div class="col-span-2 w-5/12 pr-1.5 text-sm print:text-xs lg:w-2/3">
    {title}
  </div>
  <div class="h-2 flex-1 overflow-hidden rounded-sm bg-resume-context">
    <div
      class="level h-full bg-resume-context-accent"
      style={`width:${width}`}
      aria-hidden="true"
    >
    </div>
    <span class="sr-only">{width} out of 100</span>
  </div>
</li>

<style>
  .skill:hover .level {
    animation: fill-width 0.5s ease-out;
    @apply motion-reduce:animate-none;
  }

  @keyframes fill-width {
    from {
      transform: translateX(-100%) scaleX(0);
    }
    to {
      transform: translateX(0) scaleX(1);
    }
  }
</style>
