---
import { getHTMLExcerpt } from "@/blog/posts";

type Props = {
  readMoreHref: string;
  html: string;
};

const { html, readMoreHref } = Astro.props;
const excerpt = getHTMLExcerpt(html);
---

<Fragment set:html={excerpt || html} />
{
  excerpt && (
    <a class="mt-4 block" href={readMoreHref}>
      Read More...
    </a>
  )
}
