@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 700;
    src: url("./AmaticSC-700.woff2") format("woff2");
  }

  html {
    @apply bg-body-background-light;
  }

  body {
    @apply min-h-screen text-primary;
    background: linear-gradient(
      45deg,
      theme("colors.body-background-dark"),
      theme("colors.body-background-light")
    );
  }

  a {
    @apply underline;
  }
}
